html {
    background-color: #020659;
}

body {
    margin: 0 auto;
    min-width: 375px;
}

header {
    background: linear-gradient(0.25turn, #2104D9, #020659, #000000);
    margin: 0;
}

header p, li {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #FFFFFF;
}

.navBar {
    background-color: #030A8C;
    position: fixed;
    width: 100%;
    position: sticky;
    height: 50px;
    text-align: center;
}

.navMenu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.navMenu li a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 20px 20px;
}

.navMenu li a:hover{
    background-color: #590242;
}

#logo {
    font-variant: small-caps;
    font-weight: 700;
    display: block;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ .navMenu {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

main {
    background-color: #FFFFFF;
}

h1 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color: #FFFFFF;
}

h2 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color: #590242;
 }

dt, dd {
    font-family: raleway, sans-serif;
    font-size: 16pt;
    color: #590242;
    float: left;
}

dt {
    font-weight: 200;

}

dd {
    font-weight: 400;
}

#trending section img {
    clear: both;
}

#trending, #playlists, #curated {
    display: flex;
    overflow: scroll;
}

#trending h3 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 16pt;
    color: #590242;
    text-transform: capitalize;
}

#playlists {
    background-color: #2699FB;
}

#playlists section {
    background-color: #0D8DFB;
}

#curated {
    background-color: #030A8C;
}
#curated section {
    background-color: #020873;
}

#playlists img, #curated img {
    border-radius: 5px;
    margin-bottom: 5px;
}

#playlists section, #curated section {
    text-align: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

#playlists h3, #curated h3 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 16pt;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#playlists p, #curated p {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.more {
    background-color: #590242;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 14pt;
    text-align: center;
    padding-top: 5px 20px;
    margin-left: 25px;
    width: 200px;
}

footer {
    width: 100%;
    background-color: #FFFFFF;
    color: #590242;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: #590242;
    text-align: center;
    margin: 0;
    padding: 20px;
}

@media screen and (min-width:834px) {
    navMenu {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}