html {
    background-color: #020659;
}

body {
    margin: 0 auto;
    width: 375px;
}

header {
    background: linear-gradient(0.25turn, #2104D9, #020659, #000000);
    margin: 0px;
    margin-top: 75px;
    padding-left: 25px;
}

h1 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color: #FFFFFF;
}

header p, li {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #FFFFFF;
}

#navBar {
    background-color: #020873;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#navBar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #020873;
}

#logo {
    font-variant: small-caps;
    font-weight: 700;
    display: block;
    float: left;
}

#navBar li a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 20px 20px;
    clear: both;
}

#navMenu {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.navMenu li a:hover{
    background-color: #590242;
}

#burger {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
#burger span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
#burger span:before, #burger span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
#burger span:before {
    top: 5px;
}
#burger span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ .navMenu {
    max-height: 500px;
}
input:checked ~ #burger span {
    background: transparent;
}
input:checked ~ #burger span:before {
    transform: rotate(-45deg);
}
input:checked ~ #burger span:after {
    transform: rotate(45deg);
}
input:checked ~ #burger:not(.steps) span:before, input:checked ~ #burger:not(.steps) span:after {
    top: 0;
}

main {
    background-color: #FFFFFF;
    margin: 0px;
}

h2 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color: #590242;
    margin-left: 50px;
    text-transform: uppercase;
 }

 #trending, #playlists, #curated {
    display: flex;
    overflow-y: scroll;
}

#trending .container {
    margin: 10px;
}

.songTitle {
    position: relative;
    bottom: 0px;
    background-color: rgba(255,255,255,.25);
}

dt, dd {
    font-family: raleway, sans-serif;
    font-size: 16pt;
    color: #590242;
    float: left;
}

dt {
    font-weight: 200;

}

dd {
    font-weight: 400;
}

#trending .container img {
    clear: both;
}

audio {
    position: relative;
    top: 100px;
}

audio::-webkit-media-controls-mute-button {
    background-color: #FFFFFF;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #FFFFFF;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255,255,255,.5);
}

#trending h3 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 16pt;
    color: #590242;
    text-transform: uppercase;
    margin: 10px;
}

#trending ::-webkit-scrollbar {
    display: block;
}
#trending ::-webkit-scrollbar-track {
    background-color: #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background-color: #590242;
}
#trending ::-webkit-scrollbar-thumb:hover {
background-color: #020659;
}

#playlists {
    background-color: #2699FB;
}

#playlists .container {
    background-color: #0D8DFB;
}

#curated {
    background-color: #030A8C;
}
#curated .container {
    background-color: #020873;
}

#playlists img, #curated img {
    border-radius: 5px;
    margin: auto;
}

#playlists .container, #curated .container {
    text-align: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

#playlists .container:hover, #curated .container:hover {
    background-color: #590242;
}

#playlists h3, #curated h3 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 16pt;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 5px;
}

#playlists p, #curated p {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #FFFFFF;
    margin: 5px;
}

.more {
    background-color: #590242;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 14pt;
    text-align: center;
    margin-left: 50px;
    width: 200px;
    height: 40px;
}

footer {
    background-color: #FFFFFF;
    color: #590242;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: #590242;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

@media screen and (min-width:834px) {
    .navMenu {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    #burger span, input {
        display: none;
    }
}